.git
.github
.agents
.codex
node_modules
dist
coverage
test-results
tests
doc

.gitignore
README.md
LICENSE
todo.txt
playwright.config.js
vitest.unit.config.mjs
sonar-project.properties

npm-debug.log
yarn-error.log
