html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

canvas {
  display: block;
}

.logo {
  border-radius: 50%; 
  width: 8vw;
  height: 8vw;
}

.loader {
  width: 10vw;
  height: 10vw;
  border: 32px solid #FFF;
  border-bottom-color: #A020F0;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  opacity: 0.5;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (orientation: portrait) {
  body::before {
    content: "Rotate your device to landscape";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9999;
  }
}
